<header>
  <nav class="navbar navbar-inverse navbar-static-top" >
    <div class="container">
      <div class="navbar-header">　　<!-- ナビバー（ヘッダー）のなかみ -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <!-- ナビバーのボタン部分の記述 -->
          <span class="sr-only">Toggle navigation</span>  <!-- スクリーンリーダー利用時のみ表示 -->
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="/">Tasklist</a> <!-- ホームへのリンク -->
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%=link_to '新規タスク入力', new_task_path %></li> 
          </ul>
      </div>
    
    </div>
 
  </nav>
</header>